
        @import "./src/styles/setup";
        .logo {
                height: 100%;
                img{
                        position: relative;
                        margin-right: 5px;
                        width: 40px;
                        z-index: 99;
                        @include respond(max-narrow){
                               display:none;
                        }
                        
                }
                span{
                        margin-top: 0;
                        font-family: $logo-font;
                        font-size: rem(35px);
                        color:$color-white;
                        letter-spacing: 1px;
                }
             
                
        }